.nav_container{
    display: flex;
}
.nav_right{
 display: flex;
 position: absolute;
 right: 150px;
}
.nav_left>input{
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 110px;
    margin-top: 20px;
    width: 40%;
    
}
.nav_left{
    padding-right: 50px;
}
.nav_left>img{
    height: 40%;
    width: 40%;
}